.loading-indicator {
	height: 100px;
	width: 100px;
	background: url( 'image/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
	div#activity_pane {
           border: 1px solid #CCCCCC;
        }
	.loading-indicator-bars {
		background-image: url('image/loading.gif');
		width: 100px;
	}